.mainContainer {
  background-color: $primary;
  padding-block: min(6rem, 20%);
}

.blogContainer {
  padding-bottom: 0;
  margin-bottom: min(4rem, 10%);
  width: 100%;

  .headerContainer .blogWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.wrapperBlogImg {
  min-width: 300px;
  height: 450px;
  border: 0.5rem solid $white;
  border-radius: 1rem;
  overflow: hidden;
  margin-top: -7rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.wrapperBlogTxt {
  width: 100%;
  padding-top: 1rem;

  .blogElements {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;

    a {
      display: inline-flex;
    }

    .blogDate {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.blogWrapperInfo {
  width: 100%;
}

.relatedGrid {
  padding-block: 1rem;
}

.contentWrapper {
  width: 100%;
  margin-top: 2rem;

  .contentCard {
    padding: 1rem 2rem;
  }
}

@media only screen and (max-width: $tablet) {
  .blogContainer .headerContainer .blogWrapper {
    align-items: center;
    flex-direction: column;
  }

  .wrapperBlogImg {
    max-width: 250px;
    height: 250px;
  }

  .wrapperBlogTxt .blogWrapperInfo {
    padding-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .contentDescription {
      width: 90% !important;
      text-align: justify;
    }


  .blogElements {
    display: grid !important;
    grid-template-columns: auto auto;
    grid-template-areas:
    "chip1 chip2"
    "date date";

    .blogDate {
      justify-content: center;
      grid-area: date;
    }
  }

  .relatedGrid {
    padding: 1rem;
  }
}
