// Constants
$spacing-base: 6;
$small-radius: 5px;
$medium-radius: 15px;
$full-radius: 100%;
$z-index-nav: 1;

// Breakpoints
$mobile: 320px;
$mobileLg: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;
$desktopLg: 1440px;

// Colors
$primary: #FFD933;
$secondary: #203541;
$tertiary: #FFD933;
$text-color: #203541;
$yellow: #f1c40f;
$orange: #ffa726;
$red: #f44336;
$green: #66bb6a;
$white: #F9F9F9;
$black: #203541;
$light-gray: #f4f8fb;
$light-white: #eaf1f8;
$line-accordion: #D6D6D6;

$gray: #FFD933;
$gray-10: lighten($gray, 10%);
$gray-20: lighten($gray, 20%);
$gray-30: lighten($gray, 30%);
$gray-40: lighten($gray, 40%);
$gray-50: lighten($gray, 50%);
$gray-60: lighten($gray, 60%);
$gray-70: lighten($gray, 70%);
$gray-80: lighten($gray, 73%);

$background-gray: #f0eee7;


// Functions
@function spacing($spacing-value) {
  @return ($spacing-value * $spacing-base) * 1px;
}

:export {
  primaryColor: $primary;
  secondaryColor: $secondary;
  tertiaryColor: $tertiary;
  textColor: $text-color;
  yellowColor: $yellow;
  redColor: $red;
  orangeColor: $orange;
  greenColor: $green;
  spacingBase: $spacing-base;
}
