.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $black;
  color: $white;
  height: 40px;
  width: 90px;
  border-radius: 5px;
}

.btnAlt {
  background: $white;
  color: $black;
}

.btn:hover {
  background: $gray-20;
  color: $black;
}
