.main a {
    color: $primary;

    :hover {
        color: $black;
    }
}

.main {
  background-color: $background-gray;
  padding: min(2rem, 8%);
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .mainBg {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 90%;
    transform: translate(-50%, 5%);
    filter: blur(18px);
  }

  .header, .footer, .wrapper {
    width: 100%;
  }

  .wrapper {
    justify-content: center;
  }
}

.authWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;

  .authCard {
    padding: min(3rem, 7%);

    .authCardTitle {
      display: flex ;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }
  }
}

.welcomeWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;

  .authCard {
    padding: min(3rem, 7%);

    .authCardTitle {
      display: flex ;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }
  }
}