.appBar {
  background-color: $white !important;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: min(1rem, 8%);

  a {
    display: inline-flex;
  }
}

.buttons {
  display: flex;
  gap: 1rem;
}

@media only screen and (max-width: $mobileLg) {
  .toolbar {
    justify-content: center;
  }

  .buttons {
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: $black;
    padding: min(1rem, 8%);
    z-index: 999;
  }
}
