.footer {
  padding: spacing(4);

  &Main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &Section {
    flex-basis: 100%;
  }
  &Subtitle {
    color: $black;
  }
  &Subtitle2 {
    color: $black;
  }
}

@media only screen and (min-width: $tablet) {
  .footer {
    &Section {
      flex-basis: 46%;
      flex-grow: 1;
      margin: 1%;
    }
  }
}
@media only screen and (min-width: $laptop) {
  .footer {
    &Section {
      flex-basis: 30%;
    }
  }
}


.latestArticles {
  &Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: spacing(2) 0;
  }
}

.categoryList {
  padding: spacing(4) 0;

  &SkeletonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: spacing(2);
    margin: spacing(1)
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding: spacing(4) 0;

  &BasicInfo {
    display: flex;
    gap: spacing(4);
    margin-bottom: spacing(2);
  }

  &RightSide {
    display: flex;
    flex-direction: column;
  }

  &Title {
    color: $black;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &Slogan {
    color: $black;
    font-size: 0.8rem;
  }

  &SocialContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $tertiary;
    border-radius: $medium-radius;
    margin-top: spacing(2);
    overflow: hidden;
    padding: 0 spacing(3);
  }

  &SocialButton {
    display: flex;
    min-width: 25px;
    padding: spacing(1);
  }

  &SocialItem {
    color: $black;
    width: 25px;
    height: 25px;
  }

  &Logo {
    border: solid $tertiary 6px;
    border-radius: 100%;
    background: $white;
    padding: 1rem;
  }

  &Text {
    font-size: 0.9rem;
    color: $black;
  }
}

.badges {
  display: flex;
  flex-direction: column;

  &Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: spacing(4);
  }
  &Divider {
    margin: auto;
    width: 70%;
  }
  &Section {
    margin-top: spacing(2);
    display: flex;
    flex-direction: row;
    gap: spacing(2);
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (min-width: $tablet) {
  .badges {
    flex-direction: row;
    justify-content: space-around;

    &Divider {
      display: none;
    }
  }
}
