.certifications {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: $desktop;
}

.certificateCard {
  display: flex;
  flex-direction: column;
  min-height: 120px;
  background-color: $black !important;

  .certificateCardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;

    p {
      color: $white;
      font-weight: 700;
      line-height: 1;
    }

    img {
      width: 60px;
      height: auto;
    }
  }
}

@media only screen and (max-width: $mobileLg) {
  .certificateCardContent p {
    min-height: 4rem;
  }
}
