.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: spacing(5);
}

.skeletonsContainer {
  display: flex;
  gap: spacing(4);
  padding: spacing(4);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
